.pokecard {
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
  }
  .pokecard:hover {
    transform: scale(1.03);
  }
  .pokecard__header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
  }
  .pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
  }
  .pokecard__body {
    padding: 3.5em 1em 2em;
  }
  .pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
  }
  .pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
  }
  .pokecard__typename {
    text-transform: capitalize;
  }
  .pokecard__typename:nth-child(2)::before {
    content: '/';
    padding-right: 0.7em;
  }

  .pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
  }

   

  
  .pokecard {
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
  }
  .pokecard:hover {
    transform: scale(1.03);
  }
  .pokecard__header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
  }
  .pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
  }
  .pokecard__body {
    padding: 3.5em 1em 2em;
  }
  .pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
  }
  .pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
  }
  .pokecard__typename {
    text-transform: capitalize;
  }
  .pokecard__typename:nth-child(2)::before {
    content: '/';
    padding-right: 0.7em;
  }
  
  
  